@import "compass";
@import "compass/reset";
/** Reset default styles end **/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic);
/** Add fonts end **/

$black: #27272b;
/** Variables end **/

%in {
    max-width: 1000px;
    margin: 0 auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif, Arial;
    color: #3f3f3f;
}

.clearfix {
    *zoom: 1;
    &:before, &:after {
        display: table;
        line-height: 0;
        content: "";
    }
    &:after {
        clear: both;
    }
}

a {
    text-decoration: none;
    color: #399fd4;
    &:hover {
        border-bottom: 1px solid #399fd4;
    }
}

h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    padding: 15px 0;
}

h3 {
    font-size: 20px;
    padding: 15px 0;
}
/**  General styles end **/

.header-wrap {
    background: $black;
    min-width: 700px;
    header {
        @extend %in;
        padding: 25px 10px;
        .logo {
            font-size: 30px;
            float: left;
            &:hover {
                border: none;
            }
        }
        nav {
            float: right;
            margin-top: 14px;
            ul {
                li {
                    display: inline;
                    margin-left: 35px;
                    font-size: 13px;
                    a {
                        font-size: 13px;
                        text-transform: uppercase;
                        &:hover {
                            color: #fff;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
/** Header end **/

.container {
    @extend %in;
    padding: 30px 10px;
    min-width: 700px;
}

.upload {
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    .upload-btn {
        position: relative;
        overflow: hidden;
        width: 20%;
        float: left;
        text-align: center;
        border: 1px solid #dbdbdb;
        @include transition(all 0.3s);
        &:hover {
            background: #eeeeee;
        }
        input {
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            top: 0;
            right: 0;
            height: 35px;
            font-size: 600px;
            z-index: 2;
            cursor: pointer;
            width: auto;
        }
        .text {
            padding: 10px 10px;
        }
    }
    .progress-wrap {
        float: left;
        width: 58%;
        position: relative;
        text-align: center;
        padding: 10px 0;
        border: 1px solid #dbdbdb;
        border-left: none;
        .progress {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background: #f6f6f6;
        }
    }
    .success {
        float: left;
        padding: 11px 0;
        width: 20%;
        background: #70c961;
        text-align: center;
    }
}

.inputs-wrap {
    input, textarea {
        border: 1px solid #dbdbdb;
        padding: 8px 12px;
        resize: none;
        width: 97.4%;
        margin-top: 20px;
    }
    input:first-child {
        margin-top: 5px;
    }
    textarea {
        height: 45px;
    }
    .share-btn {
        float: right;
        padding: 10px 40px;
        color: #fff;
        margin-top: 15px;
        background: green;
        cursor: pointer;
    }
}

footer {
    text-align: center;
    padding: 30px 0;
    font-size: 13px;
    border-top: 1px solid #eaeaea;
    color: #b7b7b7;
    min-width: 700px;
}
/** Footer end **/
