<template name="layout">
    <div class="header-wrap">
        <header class="clearfix">
            <a class="logo" href="/">Share</a>
            <nav>
                <ul>
                    <li><a href="{{pathFor 'home'}}">Home</a></li>
                    <li><a href="{{pathFor 'load'}}">Add Image</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="container">
        {{> yield}}
    </div>
    <footer>
        share © 2015
    </footer>
</template>
